<div class="pizza">
    <div class="title large-text">
        <%= pizza.title %> (<%= size == "small_size" ? "Мала" : "Велика" %>)
    </div>
    <% var sizeObject = pizza[size]; %>
    <div class="size-info">
        <span class="size">
            <img src="assets/images/size-icon.svg">
            <%= sizeObject.size %>
        </span>
        <span class="weight">
            <img src="assets/images/weight.svg">
            <%= sizeObject.weight %>
        </span>
    </div>
    <div class="controls">
        <%= totalPrice %>грн
        <button class="btn btn-danger minus">
            -
        </button>
        <%= quantity %>
        <button class="btn btn-success plus">
            +
        </button>
        <button class="btn btn-default remove">
            x
        </button>
    </div>
    <img class="icon" src="<%= pizza.icon %>">
</div>